.section-title {
  font-family: $mons;
  font-weight: 700;
}

.section-title--size-s {
  color: #323232;
  font-size: 24px;
  text-align: center;
  margin-bottom: 39px;
}

.callback {
  & {
  background-color: $bgcolor;
  padding-top: 30px;
  padding-bottom: 42px;
}

&__content {
  @include flexColonum;
}

&-form {
  @include flexColonum;
  align-items: center;
}
}
.input-text-area {
  border-radius: 100px;
  width: 290px;
  height: 42px;
  border: 0px;
  padding-left: 26px;
  margin-bottom: 15px;
  outline: none;
}

.form-submit {
  margin-top: 26px;
  text-align: center;
  font-family: $mons;
  display: inline-flex;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #8d81ac;
  padding: 12px 24px;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    @include btnColorHover;
  }

  &:not(:hover) {
    @include btnColorNotHover;
  }
}

@media (min-width: $phone) {
  .section-title--size-s {
    font-size: 28px;
    margin-bottom: 45px;
  }
}

@media (min-width: $tablet) {

  .callback-form {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .input-text-area {
    width: 40%;
    max-width: 335px;
    height: 42px;
    border: 0px;
    padding-left: 26px;
    margin: 0px 10px;
  }

  .section-title--size-s {
    font-size: 30px;
  }

  .form-submit {
    align-self: center;
    margin: 35px 50px 0px 50px;
  }
}

@media (min-width: $desktop) {

  .callback {
  &{
    padding: 46px 0px;
  }

  &__content {
    @include flexRow;
    align-items: center;
    justify-content: space-between;

  }
  &-form {
    flex-wrap: nowrap;
  }
  }
  .section-title--size-s {
    margin-bottom: 0px;
  }

  .input-text-area {
    width: 300px;
    padding-left: 20px;
    margin: 0px 20px 0px 0px;
  }

  .form-submit {
    margin: 0px;
  }
}