.header {
  background-image: url("../img/320/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 75px;
  font-family: $mons;

  &__navbar {
    background-color: $headerColor;
    position: relative;
  }

  &__fork-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 43px;
  }
}

.logo {
  cursor: pointer;

  &:hover .navbar__logo {
    background-position: 0 -41px;
  }
}

.navbar {
  &__logo {
    background-image: url('../img/logo.png');
    width: 43px;
    height: 41px;
    background-position: 0 -82px;
  }

  &__logo-text {
    display: none;
  }

  &__nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 103px;
    right: 0;
    left: 0;
    z-index: 999;
  }

  &__nav.active {
    display: block;
  }

  &__nav-item {
    color: $white;
    background-color: $navColor;
    font-size: 32px;
    line-height: 106px;
    text-decoration: none;
    display: block;
    padding-left: 33px;
    border-bottom: 1px solid $navItemBorderColor;

    &:hover {
      transition: .5s;
      color: $purple;
    }

    &:not(:hover) {
      transition: .5s;
      color: $white;
      display: block;
    }

    &:hover::before {
      content: "";
      background-color: $purple;
      width: 8px;
      height: 53px;
      margin-top: 26px;
      position: absolute;
      left: 0;
    }
  }

  &__btn {
    display: inline-flex;
    color: $white;
    font-size: 15px;
    @include fontDef;
    background-color: $purple;
    padding: 12px 24px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      @include btnColorHover;
    }

    &:not(:hover) {
      @include btnColorNotHover;
    }
  }
}

.sandwich-menu {
  display: none;

  &.active {
    display: block;
  }
}

.fa {
  &-times {
    width: 26px;
    color: #e5e3e3;
    font-size: 35px;
    display: none;
  }

  &-times.active {
    display: block;
  }
}

.fork-app {
  &__title {
    color: $white;
    font-size: 48px;
    @include fontDef;
    line-height: 20.45px;
  }

  &__slogan {
    color: $purple;
    font-size: 18px;
    line-height: 34px;
    padding-top: 20px;
  }

  &__description {
    color: $textDescr;
    font-size: 14px;
    line-height: 20.45px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 401px;
  }

  &__btn-description {
    color: $textDescr;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    bottom: -53px;
  }
}

.button {
  &__circle {
    &--header {
      color: $white;
      font-size: 18px;
      @include fontDef;
      line-height: 20.45px;
      background-color: $purple;
      border-radius: 100px;
      padding: 15px 31px;
      position: relative;
      bottom: -25px;
      cursor: pointer;
      border: 1px solid transparent;

      &:hover {
        @include btnColorHover;
      }

      &:not(:hover) {
        @include btnColorNotHover;
      }
    }
  }
}

@media (min-width: $phone) {
  .header {
    background-image: url("../img/480/main-bg.jpg");

    &__fork-app {
      padding-top: 101px;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    &:hover .navbar__logo-text {
      color: $hoverColor;
    }
  }

  .navbar {
    &__logo-text {
      display: inline-block;
      color: #8d81ac;
      font-family: $lato;
      font-size: 24px;
      @include fontDef;
      text-transform: uppercase;
      margin-left: 10px;
    }

    &__btn {
      padding: 15px 24px;
    }
  }

  .fork-app {
    &__title {
      font-size: 54px;
    }

    &__slogan {
      font-size: 20px;
      margin-top: 35px;
    }

    &__description {
      font-size: 16px;
      padding-bottom: 422px;
    }

    &__btn-description {
      bottom: -59px;
    }
  }

  .button {
    &__circle {
      &--header {
        font-size: 21px;
      }
    }
  }
}

@media (min-width: $tablet) {
  .header {
    background-image: url("../img/768/main-bg.jpg");

    &__navbar {
      padding: 0 20px;
      justify-content: space-between;
      height: 118px;
    }

    &__fork-app {
      padding-top: 50px;
    }
  }

  .logo {
    position: relative;
    bottom: 20px;
  }

  .sandwich-menu.active {
    display: none;
  }

  .navbar {
    &__nav {
      display: flex;
      justify-content: space-evenly;
      position: absolute;
      top: 85px;
      width: 100%;
    }

    &__nav.active {
      display: block;
    }

    &__nav-item {
      background-color: transparent;
      border-bottom: 1px solid transparent;
      color: $purple;
      font-size: 16px;
      @include fontDef;
      padding-left: 0;

      &:first-child {
        display: none;
      }

      &:hover {
        color: $hoverColor;
        transition: 0.5s;
      }

      &:not(:hover) {
        transition: .5s;
        color: $purple;
      }

      &:hover::before {
        content: "";
        background-color: transparent;
        width: 0;
        height: 0;
        margin-top: 0;
      }
    }

    &__btn {
      position: relative;
      bottom: 20px;
      padding: 12px 35px;
    }
  }

  .fork-app {
    &__title {
      font-size: 72px;
    }

    &__slogan {
      padding-top: 26px;
      font-size: 24px;
    }

    &__description {
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 454px;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    background-image: url("../img/1200/main-bg.jpg");

    &__navbar {
      height: 100px;
    }

    &__fork-app {
      padding-top: 60px;
    }
  }

  .logo {
    bottom: 0;
    flex-grow: 6;
  }

  .header-container {
    padding: 0 90px;
  }

  .navbar {
    &__nav {
      position: static;
      align-items: center;
      width: auto;
      flex-grow: 6;
    }

    &__btn {
      bottom: 0;
    }
  }

  .fork-app {
    &__title {
      font-size: 82px;
    }

    &__slogan {
      padding-top: 18px;
      font-size: 30px;
    }

    &__description {
      font-size: 16px;
      padding-top: 18px;
    }
  }

  .button {
    &__circle {
      &--header {
        padding: 23px 63px;
        bottom: -30px;
      }
    }
  }
}