.pricing {
    background-image: url("../img/320/about_base_4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $pricingBackgroundColor;
    display: flex;
    flex-direction: column;
    background-color: #4b3b4e;
    font-family: $mons;

    &__title {
        color: $white;
        font-size: 28px;
        @include fontDef;
        line-height: 42px;
        padding-bottom: 53px;
        padding-top: 81px;
    }

    &__plan {
        &-item {
            margin: 0 auto;
            width: 257px;
            background-color: $pricingItemBackgroundColor;
            margin-bottom: 14px;

            &:first-child .pricing__plan-description {
                padding-bottom: 28px;
            }

            &:last-child {
                margin-bottom: 93px;
            }

            &--active {
                width: 288px;
                background-color: $pricingActiveItem;
            }
        }

        &-title {
            color: $white;
            font-size: 24px;
            text-transform: uppercase;
            padding: 46px 0 34px;
            background-color: $pricingTitleBackgroundColor;

            &--active {
                padding: 51px 0 43px;
                background-color: $pricingActiveTitle;
            }
        }

        &-price {
            color: $white;
            font-size: 60px;
            @include fontDef;
            line-height: 90.28px;
            text-transform: uppercase;
            padding: 32px 0 24px;

            &::before {
                content: '\0024';
                font-weight: 400;

            }

            &--active {
                font-size: 82px;
                padding: 15px 0 21px;
            }
        }

        &-terms {
            opacity: 0.3;
            color: $white;
            font-size: 14px;
            text-transform: uppercase;
            padding-bottom: 39px;

            &--active {
                padding-bottom: 49px;
            }
        }

        &-underline {
            width: 60px;
            height: 5px;
            background-color: #8d81ac;
            margin: 0 auto 31px;
        }

        &-description {
            color: $white;
            font-size: 16px;
            line-height: 28px;
            padding: 0 23px;
            margin-bottom: 37px;

            &--active {
                padding-top: 10px;
                line-height: 32px;
            }
        }
    }

    &__button {
        color: $white;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $pricingBtn;
        border-radius: 100px;
        padding: 16px 37px;
        margin-bottom: 40px;
        display: inline-block;

        &:hover {
            background-color: $pricingBtnHover;
            color: #7f6d78;
            transition: .5s;
        }

        &:not(:hover) {
            background-color: $pricingBtn;
            color: $white;
            transition: .5s;
        }

        &--active {
            margin-bottom: 47px;
            padding: 21px 50px;
        }
    }

}



@media (min-width: $phone) {
    .pricing {
        background-image: url("../img/480/about_base_4.png");

        &__title {
            font-size: 42px;
            padding-bottom: 57px;
        }

        &__plan {
            &-item {
                &:last-child {
                    margin-bottom: 96px;
                }
            }
        }
    }
}

@media (min-width: $forPricing) {
    .pricing {
        background-image: url("../img/768/about_base_4.png");

        &__title {
            padding-bottom: 47px;
            padding-top: 117px;
        }

        &__plan {
            @include flexWrap;
            align-items: center;
            justify-content: space-between;
            max-width: 800px;

            &-item {
                display: inline-block;

                &:nth-child(3) {
                    margin-top: 42px;
                    margin-bottom: 82px;
                }

                &:last-child {
                    position: relative;
                    bottom: 8px;
                    margin-bottom: 0;
                }
            }
        }
    }
}


@media (min-width: $pricingDesktop) {
    .pricing {
        background-image: url("../img/1200/about_base_4.png");

        &__title {
            font-size: 48px;
            padding-bottom: 71px;
            padding-top: 73px;
        }

        &__plan {
            align-items: center;
            justify-content: space-between;
            max-width: none;
            margin: 0;

            &-item {
                display: inline-block;
                margin-right: 15px;

                &:nth-child(3) {
                    margin-top: 42px;
                    margin-bottom: 82px;
                }

                &:last-child {
                    margin-right: 0;
                    position: relative;
                    bottom: 8px;
                    margin-bottom: 0;
                }
            }
        }
    }
}