.product-description {
  background-color: $bgcolor;
  padding-top: 34px;
  margin-top: 50px;
}

.section-title--violet {
  color: $purple;
  font-size: 32px;
  text-align: center;
  line-height: 38px;
  margin: 0px 37px 34px 37px;
}
.section-title--violet-ls {
  color: $purple;
  font-size: 48px;
  text-align: left;
  margin: 0px 0px 34px 0px;
  display: none;
}

.product {
  &__item-info {
    margin: 0px 30px 38px 30px;
}
  &__item-img {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__item-title {
    font-family: $mons;
    font-size: 16px;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 500;
  }
  &__item-text {
    font-family: $lato;
    font-size: 14px;
    line-height: 21px;
    color: #9ea5ac;
    text-align: center;
  }
  &__section-pfoto {
    position: relative;
    height: 381px;
  }
  &__pfoto {
    position: absolute;
    top: 0;
    left: 10px;
    height: 381px;
    width: 100%;
    overflow: hidden;
  }
  &__pfoto-img {
    height: 381px;
  }

}

@media (min-width: $phone) {
  .product-description {
    padding-top: 47px;
    padding-bottom: 22px;
  }
  .section-title--violet {
    font-size: 42px;
    line-height: 54px;
    margin: 0px 37px 34px 37px;
  }

  .product {
    &__item-info {
      display: inline-flex;
      max-width: 424px;
      align-items: center;
      margin-bottom: 46px;
    }
    &__item-img {
      justify-content: flex-start;
      width: 26%;
      margin-bottom: 0px;
    }
    &__item-description {
      margin-left: 23px;
      width: 68%;
    }
    &__item-title {
      text-align: left;
    }
    &__item-text {
      text-align: left;
    }
    &__section-pfoto {
      position: relative;
      height: 519px;
    }
    &__pfoto {
      height: 519px;
      width: 100%;
      overflow: hidden;
    }
    &__pfoto-img {
      height: 519px;
    }
  }
}


@media (min-width: $tablet) {
  .product-description {
    padding-top: 47px;
    padding-bottom: 22px;
  }
  .section-title--violet {
    font-size: 42px;
    line-height: 54px;
    margin: 0px 37px 34px 37px;
  }

  .product {
    &__item-list {
      @include flexColonum;
      align-items: center;
    }
    &__item-info {
      margin: 0px 30px 38px 30px;
      display: flex;
      max-width: 700px;
      align-items: center;
    }

    &__item-img {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }
    &__item-title {
      text-align: left;
    }
    &__item-text {
      text-align: left;
    }
  }
}


@media (min-width: $desktop) {
  .product-description {
    padding-top: 100px;
    padding-bottom: 69px;
  }
  .product__content {
    @include flexRow;
  }
  .section-title--violet {
    display: none;
  }
  .section-title--violet-ls {
    padding-left: 30px;
    display: inline;
  }

  .product {
    &__item-list {
      width: 503px;
    }
    &__item-info {
      margin: 0px 0px 46px 0px;
      display: inline-flex;
      align-items: center;
    }
    &__item-img {
      justify-content: flex-start;
      width: 26%;
      margin-bottom: 0px;
    }
    &__item-description {
      margin-left: 23px;
      width: 68%;
    }
    &__item-title {
      text-align: left;
    }
    &__item-text {
      text-align: left;
    }
    &__section-pfoto {
      position: relative;
      height: 519px;
    }
    &__pfoto {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    &__pfoto-img {
      position: absolute;
      height: 519px;
    }

  }
}
