.review {
    background-image: url("../img/320/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin-top: 84px;
    background-color: #4b3b4e;
    font-family: $mons;

    &__list {
        @include flexWrap;
        justify-content: center;

        &-item {
            margin-top: 47px;
            width: 249px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__description {
        color: $reviewColor;
        font-family: $lato;
        font-size: 16px;
        font-weight: 700;
        font-style: italic;
        line-height: 24px;
    }

    &__section-description {
        display: none;
    }
}

.section {
    &-title {
        &--white {
            font-size: 36px;
            @include fontDef;
            line-height: 48px;
            padding-top: 47px;
            padding-bottom: 49px;
            color: $reviewColor;
        }
    }
}

.img-container {
    @include flexWrap;
    justify-content: center;
    align-content: flex-end;
    width: 225px;
    height: 64px;
    padding-bottom: 32px;
    margin: 0 auto;
}

.underline {
    background-color: $underlineColor;
    width: 280px;
    height: 2px;
    margin-bottom: 71px;
    margin-top: 44px;
}

@media (min-width: $phone) {
    .review {
        background-image: url("../img/480/about.jpg");
        margin-top: 74px;

        &__list {
            &-item {
                margin-top: 65px;
                width: 350px;
            }
        }
    }

    .section {
        &-title {
            &--white {
                font-size: 42px;
                line-height: 60px;
                padding-top: 63px;
            }
        }
    }

    .img-container {
        padding-bottom: 37px;
    }

    .underline {
        width: 350px;
        height: 1px;
        background-color: $underlineOpColor;
        opacity: 0.2;
        margin-bottom: 81px;
        margin-top: 61px;
    }
}

@media (min-width: $tablet) {
    .review {
        background-image: url("../img/768/about.png");
        margin-top: 59px;

        &__list {
            justify-content: space-between;

            &-item {
                margin-top: 84px;
                width: 49%;

                &:first-child {
                    margin-top: 0;
                }

                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }

        .section {
            &-title {
                &--white {
                    padding-top: 80px;
                }
            }
        }


        &__section-description {
            margin: 0 auto;
            display: block;
            opacity: 0.8;
            color: $reviewDescrOpColor;
            font-family: $lato;
            font-size: 14px;
            line-height: 21px;
            padding-top: 62px;
            width: 664px;
        }
    }

    .underline {
        margin: 0 auto;
        width: 699px;
        height: 2px;
        margin-top: 17px;
        margin-bottom: 80px;
    }

}



@media (min-width: $desktop) {
    .review {
        background-image: url("../img/1200/about.png");
        margin-top: 80px;

        &__list {
            &-item {
                margin-top: 108px;
                width: 33%;

                &:first-child {
                    margin-top: 0;
                }

                &:nth-child(2) {
                    margin-top: 0;
                }

                &:nth-child(3) {
                    margin-top: 0;
                }
            }
        }

        &__section-description {
            width: 849px;
        }
    }

    .section {
        &-title {
            &--white {
                padding-top: 98px;
                font-size: 48px;
            }
        }
    }

    .underline {
        width: 780px;
        margin-top: 20px;
        margin-bottom: 78px;
    }
}