.slider-section {
  @include flexColonum;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 70px;
}
.prewArrow {
    width: 9px;
    height: 16px;
    position: absolute;
    z-index: 1000;
    top: 50%;
}
.nextArrow {
  width: 9px;
  height: 16px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-left: 25px;
}
.slider {
  &__box {
    width: 90%;
  }
  &__modul {
    width: 100%;
    @include flexRow;
    margin-bottom: 57px;
  }

  &__item {
    @include flexColonum;
    align-items: center;
          }

  &__author {
    @include flexColonum;
    margin-bottom: 23px;
    align-items: center;
          }
  &__author-img {
    margin-bottom: 25px;
  }
  &__author-info {
    text-align: center;
  }
  &__author-name {
    color: #474747;
    font-family: $mons;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 7px;
  }
  &__author-position{
    color: $purple;
    font-family: $mons;
    font-size: 16px;
  }
  &__review-text{
    color: #333333;
    font-family: $lato;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    padding: 0px 40px;
    margin-bottom: 16px;
  }
  &__span {
    color: $purple;
  }
  &__review-time{
    color: #848e97;
    font-family: $mons;
    font-size: 16px;
    text-align: center;
  }
}

.review-btn {
  @include flexColonum
}
.fab {
  padding-right: 59px;
}

.social-btn {
  &-container {
    margin-bottom: 30px;
    @include flexColonum;
    align-items: center;
  }

  & {
    display: inline-block;
    font-family: $mons;
    font-size: 21px;
    text-decoration: none;
    box-sizing: border-box;
    width: 280px;
  }

  &-container__counter {
    color: #848e97;
    font-family: $mons;
    font-size: 14px;
    text-align: center;
    margin-top: 18px;

  }

  &--github {
    background-color: #f3f3f3;
    color: #000;
    padding: 17px 94px 18px 24px;
    border-radius: 3px;
  }

  &--twitter {
    background-color: #26a6d1;
    color: #fff;
    padding: 17px 94px 18px 24px;
    border-radius: 3px;
  }

  &--facebook {
    background-color: #3b5998;
    color: #fff;
    padding: 17px 80px 18px 25px;
    border-radius: 3px;
  }
}
@media (min-width: $phone) {
  .slider-section {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .slider {
    &__box {
      width: 90%;
    }

    &__author {
      margin-bottom: 40px;
      flex-direction: row;
      justify-content: center;
    }
    &__author-img {
      margin-bottom: 0px;
    }
    &__author-info {
      text-align: left;
      padding-left: 23px;
    }
    &__review-text{
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 22px;
    }
  }
}

@media (min-width: $tablet) {
  .slider-section {
    padding-top: 50px;
    padding-bottom: 59px;
  }
  .underline-slider {
    height: 1px;
    width: 100%;
    background-color: #c7c7c7;
    opacity: 0.2;
    margin-bottom: 60px;
  }
  .slider {

    &__author {
      margin-bottom: 40px;
      flex-direction: row;
      justify-content: center;
    }

    &__author-img {
      margin-bottom: 0px;
    }

    &__author-info {
      text-align: left;
      padding-left: 23px;
    }

    &__review-text {
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 22px;
    }
  }
  .review-btn {
    @include flexWrap;
    flex-direction: row;
    justify-content: center;
    width: 470px;
  }
  .fab {
    padding-right: 35px;
  }
  .social-btn {

    & {
      max-width: 220px;
    }

    &--github {
      padding: 17px 60px 18px 24px;
      margin-right: 20px;
    }

    &--twitter {
      padding: 17px 64px 18px 24px;
    }

    &--facebook {
      padding: 17px 35px 18px 25px;
      margin: 0px 130px;
    }
  }

}
@media (min-width: $desktop) {
  .underline-slider {
    width: 780px;
  }
  .slider {
     &__box {
    width: 70%;
  }
  }
  .review-btn {
    @include flexWrap;
    flex-direction: row;
    justify-content: center;
    width: 970px;
  }
  .social-btn {
    &-container {
      margin: 0px 20px;
    }
    & {
      max-width: 240px;
    }

    &--github {
      padding: 17px 60px 18px 24px;
      margin-right: 0px;
    }

    &--twitter {
      padding: 17px 64px 18px 24px;
    }

    &--facebook {
      padding: 17px 35px 18px 25px;
      margin: 0px 0px;
    }
  }
}