@import "variables";

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;

  &--navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 103px;
  }
}

@media (min-width: $tablet) {
  .container {
    &--navbar {
      justify-content: space-between;
    }
  }
}

.align-container {
  text-align: center;
}