@mixin btnColorHover {
    color: $purple;
    background-color: $hoverColor;
    border: 1px solid $purple;
    transition: .5s;
}

@mixin btnColorNotHover {
    color: $white;
    background-color: $purple;
    border: 1px solid transparent;
    transition: .5s;
}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
}
@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin fontDef {
    font-weight: 700;
    line-height: 15px;
}

@mixin flexColonum {
    display: flex;
    flex-direction: column;
}